body {
    align-content: center;
    background-image: url(https://www.jeopardy.com/sites/default/files/social_meta/background.jpg);
    
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: whitesmoke;
    width: 80%;
    height: 800px;
    margin: auto;
    align-content: center;
}

table {
    align-self: center;
    border: 2px solid black;
    height: 70%;
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

td {
    justify-content: center;
    align-content: center;
    background: dodgerblue;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid firebrick;
    height: 100px;
    width: 200px;
    flex-basis: 100px
}

#categories, th {
    border: 5px solid firebrick;
    height: 100px;
    width: 100px;
    color: firebrick;
    font-size: larger;
    text-transform: uppercase;
}

.selected {
    background: yellow;
    pointer-events: none;
}

.answered {
    pointer-events: none;
    text-decoration: line-through;
}

form {
    display: block;
    height: 200px;
    width: 670px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-background-tong-058.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=710a6fed5b1923da8d5f95191839ef8a);
}

.correct {
    background: forestgreen;
    font-size: 80px;
    pointer-events: none;
}

.incorrect {
    background: tomato;
    font-size: 80px;
    pointer-events: none;
}

th {
    background-color:black;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190828/pngtree-dark-vector-abstract-background-image_302715.jpg);
}

#title {
    height: 100px;
    width: 600px;
}

span {
    background: whitesmoke;
    height: 20px;
    width: 50px;
}

#scoreBox {
    height: 30px;
    width: 50px;
}
